.centered {
    text-align: center;
}

.color {
    color:rgb(64, 64, 64)
}
.bold {
    font-weight: bold;
}

.italic {
    font-style:italic;
}
.paper {
    padding:50px;
    max-width: 800px;
    margin: 0 auto;
    border-style: solid;
}
